<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <style>
        .btn{
            background: green;
            height: 30px;
            width: 60px;
        }
    </style>
</head>
<body>
    <p>Hi {{ user.username }},</p>
    <p>Click the link below to reset your password:</p>
    <a class="btn" href="{{ reset_url }}">Reset Password</a>
    <p>If you didn’t request a password reset, you can ignore this email.</p>
</body>
</html>
